body {
  font-family: "Gill Sans", sans-serif;
  font-weight: bolder;
  width: 100vw;
  height: 107vh;
}

ul {
  padding-bottom: 10px;
}
.backg {
  width: 100%;
  height: 110%;
  margin-top: -20px;
  position: absolute;
  z-index: -99;
}

#clock,
#weather {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  padding-top: 100px;
  font-size: 100px;
}

#weather {
  color: white;
  display: flex;
  padding-top: 0px;
  font-size: 20px;
}

#weather span:last-child {
  margin-left: 10px;
}

#greeting {
  color: white;
  font-size: 75px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  animation: appear ease-in-out 0.5s;
}

.inputbox {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.inputbox__name {
  height: 75px;
  width: 500px;
  border-style: solid;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;

  border-bottom-color: white;
  border-bottom-width: 5px;
  background: transparent;
  font-size: 75px;
  font-weight: 300px;
  color: white;
}

.inputbox__name__login {
  height: 75px;
  width: 500px;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  background: transparent;
}

.todo-form {
  height: 75px;
  width: 500px;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  background: transparent;
}

#quote {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
  font-size: 20px;
  animation: appear 0.5s ease-in-out;
}

#quote span:first-child {
  font-size: 30px;
  padding-bottom: 20px;
}

#todo-form input {
  height: 50px;
  width: 500px;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;

  border-bottom-color: white;
  border-bottom-width: 5px;
  background: transparent;
  font-size: 30px;
  color: white;
}

::placeholder {
  color: white;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
}

button {
  margin-left: 20px;
  border-radius: 15%;
  background-color: transparent;
  color: white;
  font-weight: 300%;
  font-family: "Gill Sans", sans-serif;
}

#todo-list {
  padding-top: 30px;
  color: white;
  text-align: center;
  font-size: 25px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

li,
#greetings {
  animation: appear ease-in-out 0.5s;
}

.hidden {
  visibility: hidden;
}

.bgcolor {
  width: 100vw;
  height: 107vh;
  position: absolute;
  z-index: -1;
  opacity: 0.4;
}

ul li:first-child {
  padding-top: 10px;
}
